*{
    font-family: sans-serif;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.error-box{
    //position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    color: rgb(125, 19, 19);
    border: 1px solid rgb(125, 19, 19);
    background-color: rgb(255, 198, 198);
    padding: 20px 5px;
    border-radius: 10px;
    width:fit-content;
    min-width: 200px;
    max-width: 40vw;
    height: auto;
    flex: 0 0 auto;
    p{
        margin: 0;
        padding: 0;
        //word-break: break-all;
    }
}
.fade{
    opacity: 0;
    transition: 0.7s ease-out;
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    -ms-transition: 0.7s ease-out;
    -o-transition: 0.7s ease-out;
}