@use "./Index.scss" as *;
.nick-input {
  background-color: $col9;
  color: $col10;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 1.2rem;
  // box-shadow: 3px 3px 5px #b4b4b4;
  transition: all ease-out 0.3s;
  &:focus-visible {
    outline: 1px solid $col8;
  }
}
