@use "./Index.scss" as *;
$controls-height: 80px;
.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $controls-height;
  display: flex;
  padding: 10px 20px;
  background-color: $col2;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  z-index: 1000;
}
.buttons-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.button {
  background-color: #fff;
  height: 60px;
  width: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all ease-out 0.2s;
  justify-self: end;
  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0px 5px 7px #686868;
  }
  &:active {
    transition: all ease-out 0.1s;
    background-color: #636363;
    transform: scale(0.9);
    box-shadow: none;
  }
  img {
    width: 40px;
    height: auto;
  }
}
